.wrap {
  max-width: 95%;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 40px;
}

nav .flex {
  display: flex;
  align-items: center;
}

.craft {
  color: #163b5c;
  font-family: "Atomic Age";
  font-size: 25.642px;
  font-weight: 400;
}

.unothered-list {
  gap: 43.176px;
}

.list-link {
  color: #b8b8b8;
  font-size: 25.232px;
  font-weight: 500;
  text-transform: capitalize;
}

.active {
  color: #010101;
}

.header-comp {
  gap: 43.176px;
}

.account-flex {
  justify-content: center;
  gap: 11.509px;
}

.list-items-signup {
  color: #fff;
  background: #163b5c;
  padding: 12.66px 51.792px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9.208px;
}

.signup {
  color: #fff;
  font-family: Poppins;
  font-size: 23.019px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.login {
  color: #163b5c;
  font-family: Poppins;
  font-size: 23.019px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
