.product {
  max-width: 95%;
  margin: 0 auto 1em;
  border: 2px solid pin;
}

.product-direction {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-direction p {
  color: #010101;
  font-size: 33.333px;
  font-weight: 400;
  text-transform: capitalize;
}

.category-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 42px;
}

.category-filter h3 {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  line-height: 150.21%;
}

.filter {
  display: flex;
  align-items: center;
  gap: 17px;
}

.filter p {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
}

.product-listing {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 54.14px;
}

hr {
  color: rgba(0, 0, 0, 0.42);
  padding: 0 0;
}

.listings-flex {
  padding: 1em;
  position: relative;
  border-radius: 24.534px;
  box-shadow: 0px 3.384px 33.841px 0px rgba(0, 0, 0, 0.1);
}

.img-prep {
  background: #fff;
}

.img-prep img {
  max-width: 100%;
  height: auto;
}

.like {
  position: absolute;
  top: 9.31px;
  right: 21.15px;
}

.product-review-star {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 33.841px;
  flex-shrink: 0;
  width: 263.956px;
  margin-top: 18.61px;
  background: #fff;
}

.product-review-star p {
  color: #010101;
  font-family: Poppins;
  font-size: 20.304px;
  font-style: normal;
  font-weight: 600;
  line-height: 134%; /* 27.208px */
}

.review-star {
  display: flex;
  align-items: center;
  gap: 27.072px;
}

.price-add-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 49.915px;
  background: #fff;
}

.price-add-cart p {
  color: #163b5c;
  font-size: 20.304px;
  font-weight: 600;
  line-height: 134%;
}

.price-add-cart button {
  color: #163b5c;
  font-size: 20.304px;
  font-weight: 500;
  padding: 10.152px 20.304px;
  border-radius: 6.768px;
  border: 1.692px solid #163b5c;
}

@media (max-width: 1100px) {
  .product-listing {
    grid-template-columns: repeat(2, 1fr);
  }
  .category-filter h3 {
    font-size: 21.479px;
  }
  .filter p {
    font-size: 16.506px;
  }
  .product-review-star p {
    font-size: 17.195px;
  }
  .price-add-cart p {
    font-size: 17.195px;
  }
}

@media (max-width: 429px) {
  .category-filter h3 {
    font-size: 10.73px;
  }
  .filter p {
    font-size: 8.899px;
  }
  .filter img {
    max-width: 11.87px;
  }
  .filter {
    gap: 6.3px;
  }
  .product-review-star {
    width: 113px;
  }
  .product-review-star p {
    font-size: 8.696px;
  }
  .price-add-cart p {
    font-size: 8.696px;
  }
  .product-listing {
    gap: 28px;
  }
  .product-direction p {
    font-size: 11.364px;
  }
  .product-direction img {
    max-width: 9.9px;
    height: auto;
  }
  .price-add-cart button {
    font-size: 8.696px;
    padding: 4.348px 8.696px;
  }

  .listings-flex {
    padding: 0.5em;
    width: 100%;
  }

  .review-star {
    gap: 11.59px;
  }

  .review-star p {
    font-size: 5.903px;
  }
  .star img {
    max-width: 8.6px;
  }
  .price-add-cart p {
    font-size: 8.86px;
  }

  .price-add-cart {
    gap: 21.38px;
  }

  .product-review-star {
    gap: 8.841px;
    margin-top: 10.61px;
  }
}
